
p: em This is an automated email.

p You have been listed as a manager for the <b>#{@event.label}</b> sahaj public program

= render 'about'
= render 'event'

p Please click below if you wish to change these details.
a.button.button-outline href='#'
  | Update program
