@import '_data'

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal)
  @font-face
    font-family: $font-family
    font-weight: $weight
    font-style: $style

    src: font-url('#{$file-path}.eot')
    src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'), font-url('#{$file-path}.woff') format('woff'), font-url('#{$file-path}.ttf') format('truetype')

@mixin keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

// ===== FONTS ===== //
+font-face("raleway", "RalewayExtraLight/RalewayExtraLight", 200)
+font-face("raleway", "RalewayLight/RalewayLight", 300)
+font-face("raleway", "RalewayRegular/RalewayRegular", 400)
+font-face("raleway", "RalewayMedium/RalewayMedium", 500)
+font-face("raleway", "RalewaySemiBold/RalewaySemiBold", 600)
+font-face("raleway", "RalewayBold/RalewayBold", 700)
+font-face("syatlas-icons", "Icons/icomoon")

// ===== FONT WEIGHTS ===== //
$font-text: 'raleway', sans-serif
$font-icon: 'syatlas-icons'

$font-lighter: 200
$font-light: 300
$font-normal: 400
$font-medium: 500
$font-semibold: 600
$font-bold: 700

// ===== COLORS ===== //
$color-grey-dark: #555555
$color-grey-normal: #7b7b7b
$color-grey-light: #d8d8d8

$color-border: #979797
$color-border-light: #d8d8d8

$color-background: #e6e6e6
$color-background-hover: #f4f4f4

$color-cyan: #92bbb8 // wemeditate: #c5e0dc
$color-orange: #e08e79
$color-blue: #A1C3D7

$theme-primary: var(--sya-color-primary)
$theme-secondary: var(--sya-color-secondary)
$theme-tertiary: var(--sya-color-tertiary)

// ===== SHADOWS ===== //
$shadow-subtle: 0 2px 5px 0 rgba(0, 0, 0, 0.2)
$shadow-light: 0 2px 25px 0 rgba(0, 0, 0, 0.2)
$shadow-heavy: 0 2px 50px 0 rgba(0, 0, 0, 0.5)

// ===== PANELS ===== //
$header-height: 64px
$control-offset-x: 64px
$control-offset-y: 58px

$panel-padding: 45px
$panel-padding-thin: 30px
$panel-padding-mobile: 24px
$panel-width: 467px
$panel-width-thin: 400px

$control-transition: 0.25s

$z-modal: 10000
$z-control: 1200
$z-panel: 800
$z-map: 400
$z-hidden: -100

// ===== ICONS ===== //
@function icon($key)
  @return map-get($icons, $key)

// ===== MEDIA QUERIES ===== //
// These are the minimum widths for each device
// Devices smaller than 320px width are not supported.
$tablet-width: 768px
$desktop-width: 1100px

@mixin mobile
  @media only screen and (max-width: #{$tablet-width - 1px})
    @content

@mixin tablet-or-smaller
  @media only screen and (max-width: #{$desktop-width - 1px})
    @content

@mixin tablet
  @media only screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})
    @content

@mixin tablet-or-larger
  @media only screen and (min-width: #{$tablet-width})
    @content

@mixin desktop-or-larger
  @media only screen and (min-width: #{$desktop-width})
    @content

// ===== ANIMATIONS ===== //
@include keyframes(fade-in)
  from
    opacity: 0
  to
    opacity: 1

@include keyframes(fade-out)
  from
    opacity: 1
  to
    opacity: 0

@include keyframes(scale-in)
  from
    transform: scale(0)
  to
    transform: scale(1)

@include keyframes(scale-in-modal)
  from
    transform: translate(-50%, -50%) scale(0)
  to
    transform: translate(-50%, -50%) scale(1)

@include keyframes(circle-in)
  from
    transform: scale(0) rotate(-45deg)
  to
    transform: scale(1) rotate(0)

// ===== REUSEABLE ELEMENTS ===== //
@mixin button
  transition: all 0.2s
  cursor: pointer
  background: transparent
  text-align: center

  padding: 0
  color: inherit
  text-align: center
  font-weight: $font-normal
  line-height: 48px
  font-size: 14px
  letter-spacing: 0.17px
  border: 1px solid $color-border
  text-decoration: none

  &:hover
    background: $color-background-hover
