@import '_mixins'

html, body
  overflow: hidden
  height: -webkit-fill-available

body
  position: relative
  margin: 0
  color: $color-grey-normal
  font-family: $font-text
  overflow: hidden

*
  box-sizing: border-box

*:focus
  outline: 1px dashed $color-blue

#map
  min-height: 180px
  height: calc(100% - #{$panel-mobile-height})
  position: relative !important
  transition: height $panel-transition ease

  @include mobile
    @include collapsed
      height: calc(100% - #{$panel-mobile-collapsed-height})

  @include tablet-or-larger
    height: 100%

.leaflet-control-container
  @include mobile
    display: none

