@import '_mixins'

body
  margin: 0
  color: $color-grey-normal
  font-family: $font-text
  overflow: hidden

*
  box-sizing: border-box

*:focus
  outline: 1px dashed $color-blue
  //outline: none
  //background: beige

#map
  height: calc(100vh - #{$panel-mobile-height})
  position: static !important

  @include collapsed
    height: calc(100vh - #{$panel-mobile-collapsed-height})

  @include tablet-or-larger
    height: 100vh

.leaflet-control-container
  @include mobile
    display: none

