@import "../mixins/*"

+font-face("raleway", "RalewayExtraLight/RalewayExtraLight", 200)
+font-face("raleway", "RalewayLight/RalewayLight", 300)
+font-face("raleway", "RalewayRegular/RalewayRegular", 400)
+font-face("raleway", "RalewayMedium/RalewayMedium", 500)
+font-face("raleway", "RalewaySemiBold/RalewaySemiBold", 600)
+font-face("raleway", "RalewayBold/RalewayBold", 700)
+font-face("futura-book", "FuturaBook/FuturaBook")

#mapid
  height: 100%
  position: static !important

.leaflet-control-container
  @include mobile
    display: none

