// Adjustments to the Leaflet styling
@import '_mixins'

.leaflet-control-zoom
  border: 0 !important
  box-shadow: $shadow-light !important

.leaflet-control-zoom-in,
.leaflet-control-zoom-out
  border-radius: 0 !important
