@import "../mixins/*"

$single-panel-width: 35%
$first-panel-left-offset: 10%

.box-shadow-div
  @include laptop-or-larger
    z-index: 999
    top: 8%
    position: absolute
    left: $first-panel-left-offset
    height: 100%
    width: $single-panel-width
    max-height: 80%
    overflow-y: scroll
    background-color: white
    box-shadow: 0 2px 50px 0 rgba(0,0,0,0.5);

.width-panel-double
  width: $single-panel-width * 2 !important

.search-container
  z-index: 999
  top: 8%
  position: absolute
  left: $first-panel-left-offset
  width: 35%
  max-height: 80%
  overflow-y: scroll
  background-color: white
  @include mobile
    left: 5%;
    width: 90%;

#infoPanel
  display: none

.info-panel-text
  padding-top: 20%
  padding-left: 15%
  padding-right: 15%
  color: #7B7B7B;
  font-family: Raleway;
  .info-panel-header
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.25px;
    line-height: 31px;
  .info-panel-description
    font-size: 14px;
    letter-spacing: 0.39px;
    line-height: 25px;

.less-info-container
  top: 10px;
  position: absolute;
  right: 10%;  
  .less-info-text
    color: #7B7B7B;
    font-family: Raleway;
    font-size: 14px;
    letter-spacing: 0.39px;
    line-height: 25px;

.first-side-panel
  @include mobile
    height: 100%
  @include laptop-or-larger
    border-left: 0.5px solid #D8D8D8
    left: $first-panel-left-offset + $single-panel-width
    height: 80%

.autocomplete
  position: relative
  display: inline-block

.autocomplete-items
  position: absolute
  border: 1px solid #d4d4d4
  border-bottom: none
  border-top: none
  z-index: 99
  top: 100%
  left: 0
  right: 0
  div
    padding: 10px
    cursor: pointer
    background-color: #fff
    border-bottom: 1px solid #d4d4d4
    &:hover
      background-color: #e9e9e9

.autocomplete-active
  background-color: DodgerBlue !important
  color: #ffffff

.search-box
  display: flex
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.2)

.search-text
  width: 80%
  height: 50px

.search-close
  border: none
  background-color: white
  color: #979797
  width: 20%

input
  border: 1px solid transparent
  padding: 10px
  font-size: 16px

input[type=submit]
  background-color: DodgerBlue
  color: #fff

.result-container
  display: flex
  padding: 5%

.event-info-container
  width: 60%
  color: #7B7B7B
  font-family: Raleway;  
  display: flex
  flex-direction: column
  .event-name
    color: #555555
    font-weight: 600
    line-height: 20px
    font-size: 17px
  .event-address
    letter-spacing: 0.36px
    line-height: 14px
    font-size: 13px
  .time-details
    .day
      color: #7B7B7B
      font-family: Raleway
      font-size: 11px
      letter-spacing: 0.36px
      line-height: 25px
    .time
      color: #7B7B7B
      font-family: Raleway
      font-size: 15px
      font-weight: 500
      letter-spacing: 0.49px
      line-height: 25px

.event-actions-container
  width: 40%
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  .link-container
    font-family: raleway
    .more-info-link
      font-size: 13px
      color: #7B7B7B
      letter-spacing: 0.16px
      line-height: 15px
      text-decoration: none
  .button-container
    padding-bottom: 5%
    font-family: raleway
    .register-button
      color: #7B7B7B
      width: 100px
      height: 50px    
      background-color: white;
      border: 1px solid #979797;
      font-size: 14px
      font-weight: 600

.divider
  display: block
  border: 0.5px solid #D8D8D8
  margin-left: 10%
  margin-right: 10%
