//@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap')
@import '_mixins'

body
  margin: 0
  font-family: $font

p
  margin-bottom: 1.5em

.button
  display: inline-block
  min-width: 80px
  padding: 12px 28px
  margin: 2px

  color: white
  border: 2px solid white
  border-radius: 4px
  transition-duration: 0.4s
  
  text-transform: uppercase
  text-decoration: none
  font-weight: bold

  &:hover
    background-color: white
    color: $theme-color

.info
  &__header
    background: $theme-color
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

    position: relative
    margin-top: 0
    margin-bottom: 10px
    padding: 0 12px
    opacity: 0.9

    color: white
    font-size: 24px
    line-height: 45px
    text-align: right

    @media (min-width: 500px)
      text-align: center
      margin-bottom: 30px

  &__header__logo
    display: inline-block
    float: left
    color: white
    text-decoration: none
    padding: 5px

    font-size: 80%
    line-height: 35px
    box-sizing: border-box

    position: absolute
    left: 0

    svg
      height: 32px
      margin-top: -4px
      display: inline-block
      fill: white
      vertical-align: text-top

  &__content
    max-width: 600px
    margin: auto
    padding: 12px
