@import '_mixins'

$padding: 24px

.statistics
  margin-bottom: 100px

  &__header
    background: $theme-color
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)

    margin-top: 0
    color: white
    line-height: 45px
    opacity: 0.9
    text-align: center

  &__content
    max-width: 600px
    margin: auto
    padding: $padding

  &__map
    height: 400px
    max-width: 800px
    margin: auto
    padding: $padding

  &__chart
    max-width: 700px
    margin: auto
    padding: 0 $padding

.jvectormap-tip
  font-family: inherit
  border: none
  border-radius: 0
  padding: 4px 10px

.jvectormap-zoomin,
.jvectormap-zoomout
  display: none

.ct-chart > svg
  overflow: visible
