@import '_mixins'

.byline
  max-width: 300px
  margin: 15px auto
  text-align: center
  font-style: italic
  padding: 0 12px

table.data
  max-width: 360px
  margin: 15px auto
  margin-bottom: 30px
  font-size: 15px
  padding: 0 6px

  th
    text-align: right
    padding-right: 5px
    white-space: nowrap
    width: 38%

.explanation
  max-width: 380px
  margin: auto
  font-size: 15px
  text-align: center
  padding: 0 12px

  &.narrow
    max-width: 260px

.registrations
  max-width: 360px
  margin: 20px auto
  margin-top: 0
  padding: 0 6px

  th
    width: 50%

  svg
    height: 1em
    opacity: 0.8
    margin-left: 6px
    vertical-align: middle
