
body
  padding: 1em
  max-width: 100%
  width: 600px

body.venues
  &.show #map
    margin-bottom: 1em
    border-radius: 0.28571429rem
    height: 0
    opacity: 0
    transition: opacity 0.5s ease

  &.edit, &.new
    #map
      margin: 1em 0

.map.message:not(.active)
  display: none

.ui.header
  .ui.label
    float: right
    margin-top: 0
