
/ TODO: Check that this would actually be html safe
p = translate('mail.escalation.intro', region: tag.b(@event.venue.parent.label), event: tag.b(@event.label), date: @event.updated_at.to_s(:long)).html_safe
p = translate('mail.escalation.purpose')

blockquote
  div: strong = translate('mail.escalation.escalate.title')
  p = translate('mail.escalation.escalate.description', region: @event.venue.parent.label, expires_in_days: @event.expires_in_days_in_words)

= render 'mailer/managers/event'

div: strong = translate('mail.common.actions')
p = translate('mail.escalation.call_to_action')

= render 'mailer/managers/about'
