
= f.input :name
= f.input :email
= f.input :administrator, as: :boolean, wrapper: :semantic_checkbox

h4.ui.header Can manage venues/events in the following regions
= f.association :countries, label: 'Countries'
= f.association :provinces, label: 'Provinces / States / Counties'
= f.association :local_areas, label: 'Local Areas'
