
- existing_provinces = @record.country.provinces.pluck(:province_name)
- provinces = SubdivisionSelect::SubdivisionsHelper.get_subdivisions(@record.country_code).values - existing_provinces

.hint Only regions which haven't already been added are listed below.
= f.input :province_name, label: false, prompt: 'Choose Province / State / County', collection: provinces, input_html: { class: 'search' }
