
- provinces = SubdivisionSelect::SubdivisionsHelper.get_subdivisions(@record.country_code).values
= f.input :province_name, label: 'Province / State / County', prompt: 'Choose Region', collection: provinces, wrapper_html: { class: 'search' }
