
.ui.small.dividing.violet.header = translate('cms.forms.event.timing')
= render 'cms/fields/partials/recurrence', f: f, except: %i[type end_date]

.ui.small.dividing.violet.header = translate('cms.forms.event.registration')
= render 'cms/fields/partials/registration', f: f
