
#sahajatlas

javascript:
  window.sya = {}
  window.sya.config = JSON.parse('#{@config.to_json.html_safe}')
  window.sya.translations = JSON.parse('#{translate('map').to_json.html_safe}')
  window.sya.translations.languages = JSON.parse('#{I18nData.languages(I18n.locale).to_json.html_safe}')
