@import '../_mixins'

#map
  position: relative !important
  height: calc(100vh - 150px)
  user-select: none

  @include mode([event, venue])
    height: 174px

  @include mode(map)
    width: 100vw !important
    height: 100vh !important
    margin-left: 0 !important

  @include tablet-or-larger
    height: 100vh !important
    max-height: none !important
    margin-left: $panel-width-thin

  @include desktop-or-larger
    margin-left: 0

body.state--no-results.mode--list #map
  height: calc(100vh - 180px)

// ===== CONTROLS ===== //
.mapboxgl-control-container
  @include mobile
    .mapboxgl-ctrl
      @include mode([venue, event])
        display: none

      @include mode([list, map])
        &-top-left,
        &-top-right
          top: 70px

        &-top-right,
        &-bottom-right
          right: ($control-offset-x * 0.375) - 10

        &-top-left,
        &-bottom-left
          left: ($control-offset-x * 0.375) - 10
          
        &-group:first-child
          display: none
