
.registration
  padding: 45px

.registration__header
  margin-bottom: 8px

  font-weight: 600
  font-size: 18px
  line-height: 1.25
  color: #555555

.registration__title
  margin-bottom: 12px

  font-size: 18px
  line-height: 1.25

.registration__description
  margin-bottom: 12px

  font-size: 14px
  line-height: 1.785
  letter-spacing: 0.39px

.registration__description > p
  margin-bottom: 16px

.registration__input
  padding: 17px 20px
  border: 1px solid #979797
  width: 100%
  margin-bottom: 18px

  font-weight: 600
  font-size: 14px
  line-height: 1.15
  letter-spacing: 0.17px
  color: #7B7B7B

.registration__legal-notice
  margin-bottom: 10px

  font-size: 12px
  line-height: 1.1666
  letter-spacing: 0.36px

.registration__feedback
  font-size: 14px

  &.success
    color: green

  &.error
    color: darkred
