@import '../_mixins'

.search
  position: absolute
  background: white
  z-index: $z-control + 1
  box-shadow: $shadow-light

  @include mobile
    top: -100vh
    left: $control-offset-x * 0.375
    right: $control-offset-x * 0.375
    transition: top $control-transition ease

    @include collapsed
      top: 20

  @include tablet-or-larger
    width: 520px
    max-width: 45vw
    top: 0
    left: 0

  @include desktop-or-larger
    top: $control-offset-y
    left: $control-offset-x

.search__input
  width: 100%
  height: 100%
  padding: 24px 20px
  padding-right: $header-height
  border: 0

  font-size: 17px
  letter-spacing: 0.2px
  color: $color-grey-normal
  font-family: raleway, sans-serif

  &:focus
    outline: 1px solid red

// ICONS
.search__icon,
.search__collapse
  $margin: 8px
  $size: $header-height - ($margin * 2)

  position: absolute
  top: $margin
  right: $margin
  height: $size
  width: $size
  padding: 0
  cursor: pointer
  text-align: center

  > .icon
    line-height: $size

.search__icon
  font-size: 24px

  @include tablet-or-larger
    display: none

.search__collapse
  //background-color: transparent
  //transition: background-color 0.2s
  opacity: 1
  transition: opacity 0.2s
  border-radius: 100%
  font-size: 50px

  @include mobile
    display: none
  
  &:focus
    outline: none
    border-color: $color-blue

  &:hover
    opacity: 0.8
    //background-color: $color-background-hover

  @include collapsed
    > .icon::before
      content: icon('chevron-up')

  /*&::after
    content: ''
    position: absolute
    top: 24px
    right: 31px
    width: 8px
    height: 8px
    
    transition: transform 0.2s
    border: solid $color-border
    border-width: 0 2px 2px 0
    display: inline-block
    padding: 3px
    transform: rotate(45deg)
    transform-origin: 50% 50%

    @include collapsed
      transform: rotate(-135deg)*/

// GEOSEARCH AUTOCOMPLETE RESULTS
.search__results
  background: white
  list-style: none
  margin: 0
  padding: 0

.search__results > *
  padding: 12px 20px
  font-size: 14px
  line-height: 1.15
  background: white
  border-top: 1px solid $color-grey-normal
  cursor: pointer
  transition: background-color 0.25s ease

  &:hover
    background: $color-background
    color: red
